<form class="form-language" [formGroup]="form" >
  <span>
    <input
      (change)="onLanguageChanged()"
      type="radio"
      id="english"
      value="en"
      name="language"
      formControlName = language
    >
    <label for="english">english</label>
  </span>
  <span>|</span>
  <span>
    <input
      (change)="onLanguageChanged()"
      type="radio"
      id="polish"
      value="pl"
      name="language"
      formControlName = language
    >
    <label for="polish">polish</label>
  </span>
</form>
<div class="header-routes">
  <a routerLink=""  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{"strona główna" | translate}}</a>
  <span>|</span>
  <a routerLink="/views" routerLinkActive="active">{{"widoki" | translate}}</a>
</div>
<div class="form-language"></div>

