<table>
  <thead>
  <tr class="header-row">
    <th></th>
    <th>{{'imię' | translate}}</th>
    <th>{{'wiek' | translate}}</th>
    <th>{{'data urodzenia' | translate}}</th>
    <th class="biography">{{'życiorys' | translate}}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <app-row
    *ngFor="let user of users$ | async"
    [user]="user"
    (onSelected)="rowSelect($event)"
    (onDiscarded)="rowDiscard($event)"
    (onDelete)="rowDelete($event)"
    (onEdit)="onEdit($event)"
  ></app-row>
  </tbody>
</table>
