@use "../../../../styles/variables" as *;
@use "../../../../styles/colors" as *;

form select{
  border-radius: 0.4rem;
  font-size: $font-size-small - 2px;
  color: $clr-pagination-font;
  border-color: $clr-light-grey;
}
