@use "../1-abstract/variables" as *;

.header-routes {
  width: 110px;
  display: flex;
  justify-content: space-between;
  color: black;

  a {
    color: inherit;
    text-decoration: none;

    font-family: $font-family-second;
    font-weight: $font-weight-normal;

    &.active {
      font-weight: $font-weight-bold;
    }
  }
}
