@use "../1-abstract/variables" as *;
@use "../1-abstract/colors" as *;

.row {
  position: relative;
  height: $table-row-height;
  transition: background-color 250ms ease-out;

  &:hover {
    cursor: pointer;
    background-color: $clr-row-hover-bg
  }
}
