@use "../1-abstract/variables" as *;
@use "../1-abstract/colors" as *;

.row {
  td {
    padding: 8px 0;
  }
  transition: background-color 250ms ease-out;

  &:hover {
    cursor: pointer;
    background-color: $clr-row-hover-bg
  }

}

.row-selected {
  background-color: $clr-row-selected-bg;
}
