// Colors
$clr-light-grey: #B2B8BE;

// Font color
$clr-font-primary: #1b2021;

// Icon
$clr-icon: #9D9FA0;
$clr-bg-trash: #ffcad4;


  // Table

  // --Header
  $clr-font-header: $clr-light-grey;

  // --Row
  $clr-row-hover-bg: rgba(234, 233, 233, 0.7);
  $clr-row-selected-bg: #dee8eb;
  $clr-row-font: $clr-font-primary;

  // --Menu
  $clr-menu-hover-bg: #94A2A43F;
  $clr-menu-btn: #D9D9D9;
  $clr-menu-hover-btn: #868686;

// Table controller
$clr-btn-normal: #EEEEEE;

// Pagination
  $clr-pagination-font: #5F5F5F;
  $clr-pagination-bg: #F6F5F5;

// Deleting
