@use "mixins" as *;
@use "colors" as *;
@use "variables" as *;

app-nav-adding,
app-nav-deleting,
app-nav-pagination
{
  color: $clr-pagination-font;
  background-color: $clr-pagination-bg;
  font-family: $font-family-default;
  font-weight: $font-weight-medium;
  border-radius: 1rem;


  .hidden {
    visibility: hidden;
  }

  .btn-side {
    width: 45px;
    height: 45px;
    background-color: $clr-btn-normal;
    border-radius: 100%;

    &:hover {
      filter: brightness(0.95);
    }

    i {
      color: $clr-icon;
      font-size: 20px;
    }
  }
}
