// Colors
$clr-light-grey: #B2B8BE;

// Font color
$clr-font-primary: #6C818D;


// Table

  // --Header
  $clr-font-header: $clr-light-grey;

  // --Row
  $clr-row-hover-bg: rgba(234, 233, 233, 0.7);
  $clr-row-font: $clr-font-primary;

  // --Pagination
  $clr-pagination-font: #5F5F5F;
  $clr-pagination-bg: #FBFCFC;

  // --Menu
  $clr-menu-hover-bg: #94A2A43F;
  $clr-menu-btn: #D9D9D9;
  $clr-menu-hover-btn: #868686

