@use "../1-abstract/variables" as *;

.table-wrapper {
  max-width: $table-max-width;
  max-height: $table-max-height;
  padding: $table-padding;
  overflow-y: scroll;
  overflow-x: hidden;

  width: 100%;
}
