@use "../1-abstract/mixins" as *;
@use "../1-abstract/colors" as *;
@use "../1-abstract/variables" as *;

app-pagination,
app-deleting,
app-editing,
app-new
{
  @include flex(space-between, center, row);
  max-width: 750px;
  height: 85px;
  width: 100%;
  padding: 20px 40px;
  border-radius: 1rem;

  color: $clr-pagination-font;
  background-color: $clr-pagination-bg;
  font-family: $font-family-default;
  font-weight: $font-weight-medium;

  .hidden {
    visibility: hidden;
  }

  .btn-side {
    width: 45px;
    height: 45px;
    background-color: $clr-btn-normal;
    border-radius: 100%;

    &:hover {
      filter: brightness(0.95);
    }

    i {
      color: $clr-icon;
      font-size: 20px;
    }
  }
}

app-pagination {
  .pagination {
    @include flex(space-between, center, row);
    width: 140px;
  }
}

app-deleting {
  .btn-side:hover:has( >.bi-trash ) {
    background-color: $clr-bg-trash;
    .bi-trash {
      color: black;
    }
  }
}
