<tr
  class="row"
  [class]="selected ? 'row-selected' : ''"
  (click)="select(); $event.preventDefault()"
>
  <td class="row-checkbox cell-checkbox">
    <form>
      <label class="user-select" for="user-select">
        <i class="bi" [class]="selected ? 'bi-check-square-fill' : 'bi-square'"></i>
      </label>
      <input type="checkbox" id="user-select">
    </form>
  </td>
  <td class="cell cell-name">{{user.name}}</td>
  <td class="cell cell-age">{{user.age}}</td>
  <td class="cell cell-birthDate">{{user.birthDate | date:"d MMMM, y":'':translateService.currentLang}}</td>
  <td class="cell cell-biography">{{user.biography}}</td>
  <td class="cell cell-menu">
    <span class="menu">
      <i class="bi bi-three-dots-vertical" (click)="toggled = !toggled; $event.stopPropagation()"></i>
      <span class="menu-options" [class]="toggled ? 'visible' : ''">
        <button class="btn-menu" (click)="edit(); toggled = false; $event.stopPropagation()" type="button">{{'edytuj' | translate}}</button>
        <button class="btn-menu" (click)="delete(); toggled = false; $event.stopPropagation()" type="button">{{'usuń' | translate}}</button>
      </span>
    </span>
  </td>
</tr>
