@use "../../styles/variables" as *;
@use "../../styles/colors" as *;
@use "../../styles/mixins" as *;

h2 {
  font-size: $font-size-big;
  font-family: $font-family-second;
  font-weight: $font-weight-bold;
  letter-spacing: 0.7px;
}
