@use "../../styles/variables" as *;
@use "../../styles/colors" as *;

:host {
  width: 100%;
  max-width: 1600px;
  padding: 20px 20px 40px 20px;
  overflow-y: scroll;
  color: $clr-font-primary;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  align-items: start;

  @media (min-width: 1650px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.user-data {
  font-family: $font-family-default;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0.6rem;

  .user-name {
    font-weight: $font-weight-medium;
    font-size: $font-size-big;
    letter-spacing: $font-letter-spacing-primary;
    margin-bottom: 1rem;
  }

  .user-date {
    margin-bottom: 1rem;
  }

  .user-bio {
    line-height: 150%;
  }

}
