<button class="btn-side" type="button" (click)="onSubmit()">
  <i class="bi bi-plus"></i>
</button>
<form class="form-new" [formGroup]="form">
  <p>
    <input
      formControlName="name"
      placeholder="name"
      type="text">
    <input
      formControlName="age"
      placeholder="age"
      type="number">
    <input
      formControlName="birthDate"
      type="date">
  </p>
  <p>
    <textarea
      formControlName="biography"
      placeholder="(optional) insert biography"></textarea>
  </p>
</form>
