<div [class.closed]="hide">
  <button class="btn-side btn-hide hide-at-520" (click)="onCancel()" type="button">
    <i class="bi bi-x"></i>
  </button>
  <form
    class="form-new"
    (ngSubmit)="onSubmit()"
    [formGroup]="form"
  >
    <p class="user-required-info">
      <input
        formControlName="name"
        placeholder="name"
        type="text">
      <input
        formControlName="age"
        placeholder="age"
        type="number">
      <input
        formControlName="birthDate"
        type="date">
    </p>
    <textarea
      formControlName="biography"
      placeholder="(optional) insert biography"></textarea>
    <p class="bottom">
      <button class="btn-side btn-hide hide-from-520" (click)="onCancel()" type="button">
        <i class="bi bi-x"></i>
      </button>
      <button class="btn-submit " >Add user</button>
    </p>
  </form>

</div>
