@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/colors" as *;

:host {
  position: relative;
  background-color: transparent;
  height: 85px;
  flex-shrink: 0;
  width: 100%;
  max-width: 750px;
}

div {
  height: 350px;
  width: 100%;
  position: absolute;
  padding: 35px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;

  display: flex;
  transition: all, ease-in-out 400ms;

  @media (max-width: 520px) {
    padding: 35px 10px;
  }
}

div.closed {
  height: 85px;
  background-color: $clr-pagination-bg;
  padding: 20px 40px;

  .btn-hide {
    transform: rotate(135deg);
  }

  form {
    opacity: 0;
    border: none;
  }
}

.btn-hide {
  flex-shrink: 0;
  transition: transform 300ms ease-in-out;

  @media  (max-width: 520px) {
    &.hide-at-520 {
      display: none;
      background-color: red;
    }
  }

  @media (min-width: 520px) {
    &.hide-from-520 {
      display: none;
      background-color: red;
    }
  }

}

form {
  width: 100%;
  padding: 0 20px;
  font-family: $font-family-second;
  font-size: $font-size-medium;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;

  transition: opacity 200ms ease-in;

  input,
  textarea{
    font-size: inherit;
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  input.ng-touched.ng-invalid {
    border: 1px solid pink;
  }

  .user-required-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 520px) {
      flex-wrap: wrap;
    }

    input {
      padding: 3px 5px;
      width: 100%;

      @media (max-width: 520px) {
        text-align: center;
        min-width: 100%;
      }
    }

    input[formControlName="name"] {

    }

    input[formControlName="age"] {
      max-width: 70px;
      text-align: center;

      @media (max-width: 520px) {
        max-width: none;
      }
    }

    input[formControlName="birthDate"] {
      min-width: 20px;
    }
  }

  textarea {
    width: 100%;
    padding: 10px;
    flex-grow: 5;
    font-size: $font-size-small;
  }

  .btn-submit {
    height: 50px;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 0.3rem;
  }

  .bottom {
    display: flex;
    gap: 10px;

    .btn-submit {
      flex-grow: 1;
    }
  }
}
